<div class="container">

<footer class="footer">

<small>

Copyright © <a href="enter in a link here">Talk League</a>

by <a href="enter in a link here">Hunter Nix</a>

</small>

<nav>

<ul>

<li><%= link_to "About", page_path('about') %></li>

</ul>

</nav>

</footer>

</div>
